{% extends 'home/home.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block titulo %}
    Login
{% endblock %}

{% block btnnav %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="grad">
            <h1>Logar com:</h1>
            <a href="{% provider_login_url 'google' %}"><img src="{% static 'img/gluglu.png' %}"></a>
        </div>
    </div>
{% endblock %}